# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Firebase credentials
serviceAccountKey.json
config/serviceAccountKey.json
config/

# Log files
*.log

# Temporary files
tmp/
temp/
*.tmp

# IDE specific files
.idea/
*.suo
*.swp
